&#home {
    #home_banner {
        width: 100%;
        height: 897px;

        @media only screen and (max-width: 1024px) {
            height: 300px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    #home_news{
        padding: 20px;
        background-color: #004974;
        display: none;
        @media only screen and (max-width: 1024px){
            display: block;
        }
        .item{
            display: flex !important;
            align-items: center;
            width: 100%;
            h3{
                color: #fff;
                box-sizing: border-box;
                // padding-right: 20px;
                font-size: 20px;
                font-weight: 400;
                width: 70px;
            }
            .text{
                width: calc(100% - 70px);
                p{
                    font-size: 12px;
                    color: #fff;
                    line-height: 1.5;
                    font-weight: 400;
                }
            }
        }
        
    }
    #corporate {
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: url(./assets/images/home/bg.png);
        background-repeat: repeat;
        background-position: left top;

        .wrapper {

            .title {
                margin-bottom: 60px;
                position: relative;

                @media only screen and (max-width: 1199px) {
                    margin-bottom: 15px;
                }

                h2 {
                    font-size: 32px;
                    font-weight: 600;

                    @media only screen and (max-width: 1199px) {
                        font-size: 24px;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        width: 67.5%;
                        height: 2px;
                        background-color: $text_submain;
                        ;
                        right: 0;
                        bottom: 150%;
                    }

                    span {
                        position: absolute;
                        left: -60px;
                        bottom: calc(100% - 15px);
                        font-size: 72px;
                        color: $text_submain;
                        opacity: 0.1;
                        background-color: #fff;
                        padding-right: 15px;

                        @media only screen and (max-width: 1199px) {
                            left: -25px;
                            font-size: 40px;
                        }
                    }
                }
            }

            .content {
                display: flex;
                flex-wrap: wrap;

                .item {
                    width: 25%;
                    height: 0;
                    padding-bottom: 25%;
                    position: relative;
                    margin-bottom: 2.5px;
                    overflow: hidden;

                    .item_content {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        width: 100%;
                        height: 100%;

                        &::before {
                            content: '';
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            background-image: linear-gradient(to bottom, transparent 0%, transparent 65%, rgba(51, 51, 51, 0.75) 100%);
                            z-index: 1;
                            transition: 0.3s;
                        }

                        .pic {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: 0.6s;
                        }

                        .text {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            box-sizing: border-box;
                            padding: 25px 20px;
                            z-index: 2;
                            transition: 0.3s;
                            a {
                                h3 {
                                    font-size: 22px;
                                    font-weight: 600;
                                    color: #fff;
                                    display: flex;
                                    align-items: center;
                                    width: 100%;

                                    .icon {
                                        margin-left: 10px;
                                        display: inline-block;
                                        width: 22.5px;
                                        height: 22.5px;
                                        border-radius: 999px;
                                        border: 3px solid #fff;
                                        position: relative;

                                        &::before {
                                            content: '';
                                            position: absolute;
                                            background-color: #fff;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            width: 10px;
                                            height: 8.5px;
                                            clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
                                        }
                                    }
                                }

                            }
                        }
                    }

                    &:hover {
                        .item_content {
                            &::before {
                                background-color: rgba(0, 73, 116, 0.8);
                            }

                            .pic {
                                transform: scale(1.05);
                            }

                            .text {
                                left: 50%;
                                bottom: 50%;
                                transform: translate(-50%, 50%);

                                a {
                                    h3{
                                        justify-content: center;
                                    }
                                }
                            }
                        }
                    }

                    @media only screen and (max-width: 1024px) {
                        width: 50%;
                        padding-bottom: 50%;
                        margin-bottom: 0;
                    }

                    @media only screen and (max-width: 767px) {
                        width: 100%;
                        padding-bottom: 100%;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}